#header {
  background: #0b0a0e;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.08);
}

#header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

#header .menu .logo img {
  width: 80%;
}

#header .menu .nome p {
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  #header {
    padding: 1rem 1rem;
  }

  #header .menu .nome p {
    font-size: 1rem;
  }

  #header .menu .logo img {
    width: 60%;
  }
}

#tela {
  padding-top: 5rem;
  height: 100vh;
  text-align: center;
  font-family: "Inter", sans-serif;
}

#tela .menu {
  align-items: center;
}

#tela .back p {
  font-weight: 300;
  font-size: 1rem;
  color: #12121a;
}

#tela .titulo h2 {
  font-size: 3rem;
  color: #110c12;
  font-weight: 700;
}

#tela .numbers p {
  font-weight: 300;
  color: #12121a;
  font-size: 1rem;
}

#tela h5 {
  padding-top: 3rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #110c12;
}

#tela .coluna1 {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

#tela .coluna2 {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

#tela .coluna3 {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

#tela .coluna1,
.coluna2,
.coluna3 p {
  font-size: 1.2rem;
}

#tela p {
  padding-top: 1rem;
}

#tela img {
  cursor: pointer;
  transition: all ease 0.4s;
}

#tela img:hover {
  transform: scale(1.03);
}

#tela button {
  width: 50%;
  padding: 0.5rem 0;
  background: #110c12;
  border-radius: 20px;
  color: #fff;
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  transition: all ease 0.4s;
}

@media screen and (max-width: 767px) {
  #tela {
    height: auto;
  }

  #tela .titulo h2 {
    font-size: 1.8rem;
    padding: 0;
  }

  #tela .coluna1,
  .coluna2,
  .coluna3 {
    flex-direction: column;
  }

  #tela img {
    width: 90%;
    margin-top: 2rem;
  }

  #tela button {
    width: 90%;
  }
}

#footer {
  background: #13121a;
  color: #fff;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

#footer .copyright p {
  padding-top: 2rem;
  text-align: center;
}

#footer .logo {
  text-align: center;
}

#footer .logo img {
  width: 30%;
}

#footer .icons {
  margin-top: 2rem;
  align-items: center;
  display: flex;
}

#footer .icons p {
  padding-right: 1rem;
}

#footer .icons img {
  width: 7%;
  padding-left: 0.2rem;
  margin-top: -1rem;
}

@media screen and (max-width: 767px) {
  #footer {
    position: absolute;
    width: 100%;
    top: 100;
  }

  #footer .icons {
    display: none;
  }

  #footer .copyright {
    display: none;
  }

  #footer .logo img {
    width: 70%;
    padding: 1rem 0;
  }
}

.checkbox-img input[type="checkbox"] {
  display: none;
}
.checkbox-img label img {
  pointer-events: none;
}
.checkbox-img label {
  display: inline-block;
}
.checkbox-img img {
  margin: 20px;
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 22px;
  height: auto;
}
input[type="checkbox"]:checked + img {
  border: 5px solid #adc4c1fa;
  border-radius: 28px;
  opacity: 0.9;
}
